/*cambios en el fondo*/
body{
    background: #FFD5FA;
    background-image:url('../img/Fondo.jpg');
    background-size: cover;
    background-size: 62rem;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

/*configuracion del menu*/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contenedor{
    width:95%;
    max-width: 1000px;
    margin: auto;    
}
    .contenedor p{
        margin-bottom: 40px;
    }

header nav{
    background: #B79FF1;
    margin-bottom: 10px;
}
    header nav ul{
        list-style: none;
        overflow: hidden;
    }
    header nav ul li{
        float: left;
    }
        header nav ul li a{
            display: block;
            padding: 20px;
            color: #FCFCFC;
            text-decoration: none;
        }
        header nav ul  li a:hover {
            background: #8384DF;
        }

.menu-fixed{
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 2px 3px rgb(249, 175, 236.5);
}

/*Configuracion de la pag. Login*/
/*configuracion del fondo de contencion*/
.container {
    max-width: 550px;
    margin: auto;
    background-color: #FBDBFF;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(255, 213, 250.50);
    box-shadow: 2px 2px 13px -4px rgba(255, 213, 250.50);
}
/*configuracion barrita del login*/
.header-bar {
    display: flex;
    justify-content: space-between;
    color: #B79FF1;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #F9D1F6 5%, #F6BCE3 43%, #F2A7D1 100%);
}
.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}
.card-body {
    padding: 20px;
}